name: Deployment

on: push

jobs:
  echo_something:
    runs-on: ubuntu-latest
    name: Echo Something
    steps: 
      - name: echo
        run: echo "hello world"
      - name: secret
        run: echo ${{ secrets.SUPER_SECRET }}
